@import url("left.css");
@import url("webmail.css");
@import url("calendar.css");

body{
    background-color:white;    
}

.left{
    background-color:white;
}
.barcontrol>div{
    border:1pt solid #53b845;
    background-color:white;
}
.right{
    background-color:white;
}
.listmailHorizontal{
    border:1pt solid #53b845;
}
.readHorizontal{
    border:1pt solid #53b845;
}
#divisorVertical{
    border-right:1px solid #53b845;
}
#divisorVertical,#divisorLeft{
    border-left:1px solid #53b845;
}
a:link,a:visited,a:hover{
    color:black;
}
.loader .text{
    color:blue;
    background-color:white;
}
.loader{
    background-color:transparent;
}
.highlight{
    background-color:#a7dba0 !important;
    color:black;
}
/* Generic context menu styles */
.contextMenu {
    border: solid 1px #CCC;
    background: #e0f2dd;
}
.contextMenu A {
    color: #333;
}
.contextMenu LI.hover A {
    background-color: #4dc362;
}
.contextMenu LI.disabled A {
    color: #AAA;
}
.contextMenu LI.hover.disabled A {
    background-color: transparent;
}
.contextMenu LI.separator {
    border-top: solid 1px #CCC;
}
.dragMSg,.dropOver{
    background-color: #becceb;
}
.dropMSg{
    background-color: white;
}

#boxAjuda,#moveHelperContacts{
    border:1px solid black;
    background-color: #fff;
}

div.tableContainer {
    border: 1px solid #963;
}

/*.headerMsgVer{
    background-color:silver !important;
    background-color:silver;    
    border-bottom:1px solid #53b845;
    color:white;
}*/

.tableHeader{
    background-color:#a7dba0 !important;
    color:white;
}

.tableHeader{  
    background-color:#a7dba0 !important;
}

.headerMsg{ 
    background-color:silver !important;
}
.headerMsg div{
    background-color:silver !important;
    color:white;
}
.gridmail,.gridmail td {
    border-bottom-color:white !important;
    border-top-color:white !important;
}
#labelBox{   
    background-color:#a7dba0;
    border-top:1px solid #53b845;
    border-bottom:1px solid #53b845;
}
.labelFolder,.labelQuota,.labelListAgenda{
    border:1px solid #53b845;
    background-color:#a7dba0;
    color:black;
}
.labelFolder{
    border-right:0px !important;
}
.subjectMsg{
    border-bottom:1px solid #a7dba0;
    border-right:1px solid #a7dba0;
    background-color:#e0f2dd !important;
    color:black;
}
/*.formatHeader,*/
.formatHeader div:first{
    background-color:silver;
    color:white;    
}
/* Ao clicar para ler o email*/
.readMailBack{
    background-color:#4dc362 !important;
    color:white !important
}
.readMailBack a:hover,.readMailBack a:visited,.readMailBack a:link,.readMailBack a{
    background-color:transparent;
    color:white !important
}
.ui-dialog-buttonset button{
    background-color:silver;    
}
.textSubject{
    background-color: transparent !important;
}
#closeall{
    border:white solid 1px;
    background-color:#6a6a6a;
    color:white;
    font-weight:bold;
}
.minicompose,.miniread,.minioptions,.minifolder,.minicontacts,.minipic{
    border:1px groove #53b845;    
}

.labelNumMSg,.labelNumCont{
    background-color:#53b845;    
    color:white;
}

.compose input[type=text]{
    border:1px solid #a7dba0 !important;
}
.compose td .to,.compose td .cc,.compose td .bcc,.compose td .subject,.attachLabel{
    color:#53b845;
}
.ShowHideCC,.ShowHideBCC,.divCCBCC{
    color:#5a8cff;
}
.tableHeader thead th{
    color:black;
    border-top:1px solid #53b845;
}
.tableHeader thead th:first{
    color:black;  
}
.tableHeader thead th:last{
    color:black;
}
.header .background {
    /*background:url('../../images/hulk/backtop_green.png') no-repeat;*/
    background:url('../../images/hulk/backtop_green_contact.png') no-repeat;
    /*background:url('../../images/hulk/backtop_green.png') no-repeat;*/
}
.header .backgroundContact {
    /*background:url('../../images/hulk/backtop_green.png') no-repeat;*/
}
.header div div {
    float:left;
    background:transparent;
}
.header td{
    border-top:1px solid #53b845;
    border-bottom:1px solid #53b845;
}
.backTopCompose{
    background:url("../../images/backtopcompose.png") no-repeat;
}

#inputAttach{        
    background: url(../../images/backgroundattach.png);
}

.flagMsgUnread{
    background: url(../../images/email.png);
}
#numPage{
    background-color: #4dc362;
    color:white;
}
.btnDeleteAttach{
    color:#90abb8 !important;
    background:url(../../images/remove_attach.png) no-repeat center;    
}

#inputAttach input[type=file]{
    border: 1px solid #b0b0b0;
    background: #ecedf1;
    color: #585858;
}

.btnUpload,.btnDialogEvent,.btnIden,#inputAttach input,.btnSaveOption,.btnCancelOption,.ContInfo .btnContact, .ContInfo input[type=button], #actionToField{
    background-color:white;    
    color:black;
    border:1px solid black;
}
.hideBcc{
    color:#3366cc;
}
#search input[type=text]{
    color:silver;       
}
#optionSearch,.menuDrop{
    border:1px solid #53b845;
    color:#53b845;
    background-color:#e0f2dd;
}
/* root element for tabs  */
ul.tabs,ul.tabsContactsDialog {
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
}
ul.tabs li,ul.tabsContactsDialog li{
    border: 1px solid #999;
    margin-bottom: -1px;
    background: #e0f2dd;
}
ul.tabs li a, ul.tabsContactsDialog li a{
    color: #000;
    border: 1px solid #fff;
}
ul.tabs li a:hover, ul.tabsContactsDialog li a:hover {
    background: #a7dba0;
}
html ul.tabs li.active, html ul.tabs li.active a:hover, html ul.tabsContactsDialog li.active, html ul.tabsContactsDialog li.active a:hover{
    background: #fff;
    border-bottom: 1px solid #fff;
}
.tab_container {
    border: 1px solid #999;
    background: #fff;
}
.tab_content h3 a{
    color: #254588;
}
.tab_content img {
    margin: 0 20px 20px 0;
    border: 1px solid #ddd;
}

#contentOptions input,textarea{
    background-color: #e0f2dd;
}
.saveSuccess,.sendSuccess,.draftSuccess,.msgContact,.msgUpdateIdent,.sendFail{
    background-color:#87fd87;
    width:220px;
}
.sendFail{
    background-color:red;
}
.msgContact{
    background-color:#ff5353;
}

.saveError{
    background-color:#ff3f3f;
}

.contentContacts .ContGroup,.contentContacts .ContContact,.contentContacts .ContInfo{
    border-left: 1px solid #53b845;
    border-right: 1px solid #53b845;
    border-bottom: 1px solid #53b845;
}
.contentContacts .label{
    color:#53b845;
    border-bottom:1px solid #53b845;
    border-bottom:0px solid #53b845\9;
    border-top:1px solid #53b845; 
    background-color:#e0f2dd;
}
.backContact,.backGroup{
    background-color:#4dc362 !important;
    color:white !important;
}

.menuContact{ 
    border: 1px solid #53b845;
    background-color:#e0f2dd;
}
.backContactCheck{
    background-color:#EDECEB;
    color:#5a8cff;
}
.left ul,.left{
    /*background-color:#e0f2dd; */
}
#quota{
    border-top-color:#53b845;
}
.moveMouseFolder{
    background-color:#becceb !important;
}
.menuDrop li a,.menuDrop li a{
    color:black;
}
.menuDrop li a:hover{
    background-color:#4dc362 !important;
    color:white;
}
#autoCompl{
    background-color:#a7dba0;
}
.selCont{
    background-color:white !important;
    color:black;
}
.divRadioCompose{
    background-color:#d8d8d8;
    color:#53b845;
}
#tableListGroups ul li{ 
    color:black;
}
.groupOdd{
    background-color: #e2e4ff;
}
.selFolder{
    background-color: #a7dba0 !important;
}
#uploadSucess{
    color:green;
}
.MenuReadWin,.titleAttachRead,.titleMenuFolder{
    background-color:#a7dba0; 
}
.ui-dialog-titlebar{
    background:url(../../images/hulk/titleback_green.png) !important;
}
.tdPar,.lineAttach,.lineMenuFolder{
    background-color:#e0f2dd;
}
.tdInpar{
    background-color:white;
}
.notice-body {
    background: url(../../images/hulk/purrTopGreen.png) no-repeat left top !important;
}
.notice-bottom {
    background: url(../../images/hulk/purrBottomGreen.png) no-repeat left top !important;
}
.ui-datepicker-header{    
    background: url(../../images/hulk/titleback_green.png) !important;
}
